################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gogrow_app/__pycache__
/gogrow_debug.log
/gogrow_app/img/HouseRemodel
